/* ===== База ===== */
.button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-width: 140px;
    border-radius: 10px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    letter-spacing: -0.1px;
    cursor: pointer;
    user-select: none;
    transition: background-color .15s, opacity .15s, box-shadow .15s;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

/* ===== Размеры ===== */
.S { height: 36px; padding: 0 16px; font-size: 14px; }
.M { height: 44px; padding: 0 20px; font-size: 15px; }
.L { height: 52px; padding: 0 24px; font-size: 16px; }

/* ===== fill ===== */
.fill {
    background: #17171B;
    color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0784314);
}
.fill:hover:not(:disabled)  { background: #2D2D33; }
.fill:active:not(:disabled) { background: #050506; box-shadow: none; }

/* ===== outline ===== */
.outline {
    background: transparent;
    color: #17171B;
    border: 1px solid #17171B;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.0784314));
}
.outline:hover:not(:disabled) {
    background: #F4F4F5;
    filter: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0784314);
}
.outline:active:not(:disabled) {
    background: #E7E7EA;
    filter: none;
    box-shadow: none;
}

/* ===== text ===== */
.text {
    background: transparent;
    color: #17171B;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.0784314));
}
.text:hover:not(:disabled) {
    background: #F4F4F5;
    filter: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0784314);
}
.text:active:not(:disabled) {
    background: #E7E7EA;
    filter: none;
    box-shadow: none;
}